{%- block color_captcha_widget -%}
    {% from _self import print_help_text %}

    {% set rnd = "now"|date('U') ~ random() %}
    {% set inputId = "input_" ~ id ~ rnd %}
    {% set blockId = "block_" ~ id ~ rnd %}
    {% set colorsConst = constant('Yamilovs\\ColorCaptchaBundle\\Manager\\ColorCaptchaFactory::COLOR_CAPTCHA_SESSION_COLORS') %}

    {# Hide default input type #}
    <style type="text/css">#{{ inputId }} {position: absolute; opacity: 0;}</style>
    <div id="{{ blockId }}" class="captcha-block">
        {% if help_text_position == 'top' %}
            {{ print_help_text() }}
        {% endif %}
        {% for color, hex in app.session.get(colorsConst) %}
            <div class="captcha-color-wrapper">
                <div class="captcha-color" style="background: {{ hex }};" data-color="{{ hex }}"></div>
            </div>
        {% endfor %}
        {% if help_text_position == 'bottom' %}
            {{ print_help_text() }}
        {% endif %}
        {{ form_widget(form, {id: inputId}) }}
    </div>
    <script type="text/javascript">
        var captchaBlock{{ rnd }} = document.querySelector('#{{ blockId }}'),
            colorBlocks{{ rnd }} = document.querySelectorAll('#{{ blockId }} .captcha-color'),
            colorInput{{ rnd }} = document.querySelector('#{{ inputId }}');

        captchaBlock{{ rnd }}.addEventListener('click', function (e) {
            e.preventDefault();
            for (var i = 0; i < colorBlocks{{ rnd }}.length; ++i) {
                colorBlocks{{ rnd }}[i].classList.remove('selected');
            }
            e.target.classList.add('selected');
            colorInput{{ rnd }}.value = e.target.getAttribute('data-color');
        });
    </script>

    {% macro print_help_text() %}
        {% set colorTextConst = constant('Yamilovs\\ColorCaptchaBundle\\Manager\\ColorCaptchaFactory::COLOR_CAPTCHA_SESSION_TARGET_COLOR_TEXT') %}

        <div class="help-text-block">
            <span class="help-text-before">
                {{ "yamilovs.color_captcha.help_text.before"|trans|raw }}
            </span>
            <span class="help-text-color">
                {{ ("yamilovs.color_captcha.color." ~ app.session.get(colorTextConst))|trans|raw }}
            </span>
            <span class="help-text-after">
                {{ "yamilovs.color_captcha.help_text.after"|trans|raw }}
            </span>
        </div>
    {% endmacro %}
{%- endblock color_captcha_widget -%}
